
body {
    background: linear-gradient(180deg, #f8f8f8, #e0e0e0); /* Exemplo de degradê */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}
